html {
    overflow-x: hidden;
  }
  
  body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  #title {
    text-align: center;
  }
  
  #top-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .simple-btn {
    outline: 0;
    border: 0;
    background-color: #2ecc71;
    padding: 7px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }
  
  .simple-btn:hover {
    background-color: #27ae60;
  }
  
  #visualizer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*#word-preview {
  }*/
  
  #search-result {
    margin-top: 2em;
  }